@font-face {
  font-family: pickmoji-emoji;
  src: local('Arial')
}

@font-face {
  font-family: pickmoji-emoji;
  src: local('Noto Color Emoji');

  /* Emoji unicode blocks */
  unicode-range: U+1F300-1F5FF, U+1F600-1F64F, U+1F680-1F6FF, U+2600-26FF;
}

.test-textbox {
  font-family: pickmoji-emoji;
}

// https://coolors.co/114b5f-1a936f-88d498-c6dabf-f3e9d2
.pickmoji-picker-active {
  font-size: 12px;
  font-family: pickmoji-emoji;
  position: absolute;
  display: inline-block;
  height: auto;
  width: auto;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #D6D6DB;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.pickmoji-picker-banner {
  background-color: #E5E5EA;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #D6D6DB;
  padding: 4px;
}


.pickmoji-suggestion-highlight {
  background-color: #88D498; 
};

.pickmoji-picker-hidden {
  visibility: hidden;
}

.pickmoji-picker-suggestions {
  margin: 2px;
}

.pickmoji-suggestion-active {
  padding: 5px;
  border-radius: 10px;
  width: auto;
  // margin: 2px;
}

.pickmoji-suggestion-hidden {
  visibility: hidden;
}
